<%= form_with(model: job_opening, local: true) do |form| %>
  <% if job_opening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_opening.errors.count, "error") %> prohibited this job_opening from being saved:</h2>

      <ul>
      <% job_opening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_opening_title %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :job_opening_category %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_opening_description %>
  </div>
 <%= form.select :company_id, options_for_select(Company.all.map{|s|[s.name, s.id]}) %>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :job_opening_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
